.list-compact li{
	line-height: 15px !important;
}


.mega-menu.desktopTopFixed .menu-list-items .menu-logo > li > a img{
	/*height: 100px;
	margin-top: -17px;*/

	/*width: 100%;*/

}

.mega-menu .menu-logo > li{
	width: 100px;
}

.feature-box h4{
	min-height: 140px;
}

.very-small{
    font-size: 60%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #da9803;
}

.cart-remove-item{
    float: right;
    font-size: 50px;
}


.login-gradient-03:before{
	/*background: linear-gradient(45deg, #333 0%, #eaa404 100%);*/
}

.login-box-main .nav li a {
	color: #ffffff;
}


.extras-btn {
    width: 50px;
    height: 50px;
    /*display: table-cell;*/
}

.extras-btn img{
    border: 4px solid #da9803;
    max-width: 100%;
    border-radius: 50%;
}



.login-top{
	margin-top: 49px;
}

del, mark{
    border-radius: 2px;
}

.smaller-title{
    padding-top: 154px !important;
    padding-bottom: 7px !important;
}

.big-icon{
	font-size: 100px; 
	opacity: .9;
}

.mt-10{
	margin-top: 10px;
}
.mb0{
    margin-bottom: 0px; 
}

.portfolio-item a.popup{
	position: absolute;
	    /* right: 20px; */
    top: -4px;
    color: #fff;
    z-index: 9;
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background: #fff; */
    color: #626262;
    /* border-radius: 50%; */
    margin-right: 10px;
    padding-left: 0px;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ;
     background-color: transparent;
}


.portfolio-item a.popup:hover { background-color: transparent; color: #ffffff; }
.portfolio-item:hover a.popup{ opacity: 1; top: 0px; }
.portfolio-item.only-popup { width: 100%; text-align: center; }
.portfolio-item.only-popup a.popup { display: inline-block; left: 50%; margin-left: -20px;  position: absolute; text-align: center; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); } 

.bringtop{
    z-index: 5;
    position: relative;
}

.add-shadow{
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
}