.list-compact li{
	line-height: 15px !important;
}


.mega-menu.desktopTopFixed .menu-list-items .menu-logo > li > a img{
	/*height: 100px;
	margin-top: -17px;*/

	/*width: 100%;*/

}

.mega-menu .menu-logo > li{
	width: 100px;
}

.feature-box h4{
	min-height: 140px;
}


.login-gradient-03:before{
	/*background: linear-gradient(45deg, #333 0%, #eaa404 100%);*/
}

.login-box-main .nav li a {
	color: #ffffff;
}

.login-top{
	margin-top: 49px;
}