.btn .fa, .btn .glyphicon{
	margin-right: 0px;
}

.center-img{
	display:block;
    margin:auto;
}

.user-uploaded-image{
	display: inline-block;
    margin: auto;
    vertical-align: middle;
    width: 120px;
    border: 5px solid #ededec;
    border-radius: 5px;
}

.user-frame{
	width: 100px;
}

.user-qty{
	font-size: 30px;
	font-weight: bold;
}

.logo-t{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.group-n{
    margin-bottom: 15px;
    margin-right: -10px;
}

.lable-left{
    text-align: left !important;
}


.mt5{
    margin-top: 5px;
}

hr{
    margin-top: 4px;
    margin-bottom: 10px;
}

.approved{
    background-color: green; 
    border-radius: 10px;
    width: 20px !important;
}

.unapproved{
    background-color: orange; border-radius: 10px;
}

.disapproved{
    background-color: red; border-radius: 10px;
}

.trans_d{
    padding: 5px;
    width: 110px;
    margin-right: 18px;
    border: 2px solid grey;
    border-radius: 20px;
    color: green;
}

.trans_w{
    padding: 5px;
    width: 110px;
    margin-right: 18px;
    border: 2px solid grey;
    border-radius: 20px;
    color: red;
}

