/*.navbar-logo{
	float: left;
    margin-right: 0px;
    margin-top: -20px;
    border: none;
    opacity: 1;
}*/

/*.navbar-logo img{
    margin-right: -20px;
    opacity: 1;
}*/

.table>tbody>tr>td,
 .table>tbody>tr>th,
 .table>tfoot>tr>td,
 .table>tfoot>tr>th,
 .table>thead>tr>td,
 .table>thead>tr>th,
 label,
 .form-control{
    color: black !important;
}

.r-icon{
    color: #f1f1f2;
}

.center{
    text-align: center;
}

.back2site{
    z-index: 99999;
    position: absolute;
    right: 0px;
    border-radius: 0px 0px 0px 23px;
}

.large-btn{
    width: 100%  !important;
    height: 70px  !important;
    line-height: 49px  !important;
    border-radius: 89px  !important;
    margin-bottom: 10px;
}

.dropdown-header{
    margin: 0px !important;
}

.page-header{
    font-size: 18px !important;
}

.navbar-brand{
	width: 400px;
	padding-top : 13px;
}

.page-sidebar-minified #sidebar-content{
    width: 75px !important;
}


body {
    background-color: #f0f0f0;
}

.submenu{
    max-width: inherit !important;
    position: relative !important;
    margin-bottom: 20px;
}

.panel-green>.panel-heading{
    background: #65bc4b !important;
    color: #fff; 
}

.bg-white{
    background-color: #fff !important;
}

.login.login-with-news-feed .login-header, .register.register-with-news-feed .register-header{
    padding-top : 40px; 
}

.intl-tel-input{
    width: 100% !important;
}

.red{
    color: red;
}

.sidebar-active{
    background: #d9f3e0;
}

.sub-checkbox {
    margin-left: 28px;
    margin-top: 5px;
}

#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

.nav-tabs{
    background: #f1f1f1 !important;
}


.nav-tabs+.tab-content{
    max-height: 500px;
    overflow-y: scroll;
}

.add-shadow{
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
}

.flash-message
{
    z-index: 10000;
    position: relative;
}



/* .modal-open .container-fluid {
    -webkit-filter: blur(5px);
    filter: blur(3px)
} */

.modal-open .modal-blur {
    
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(6px) !important;
    filter: blur(6px) !important;
}



.ofx-s{
    overflow-x: scroll !important;
}

.add-border{
    border: 1px solid #ddd !important;
}

.default-deep{
    background: #e8e6e6 !important;
}

.user-search{
    height: 200px;
    overflow: scroll;
}

.c-red{
    color: red !important;
}

.bg-brown{
    background: #fa9d3e!important;
    color: white !important;
}

.widget.widget-stats{
    border-radius: 5px 30px 5px 37px !important;
}


.sidebar-back {
    height: 30px;
    width: 30px;
    line-height: 28px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 66%;
    margin: -5px -16px;
}

.no-padding{
    padding: 0px  !important;
}

.no-margin{
    margin: 0px  !important;
}

.login.login-with-news-feed .login-header .icon{
    top: 30px;
}

.form-group{
    margin-bottom: 5px;
}

.widget-stats .stats-info p{
    font-size: 22px;
}